* {
  color: #e8e5da;
  background-color: #4f4d50;
}

h5 {
  font-size: larger;
}

.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.menu {
  background-color: #393a44;
  color: #a697b1;
}

.menu-align {
  padding: 1%;
}

.btn-a {
  color: #393a44;
  background-color: #d7d3da;
}

.border-a {
  border: 1px solid #131313;
}

.border-a:hover {
  border: 1px solid #a7a5c7;
}

.btn-a:hover {
  background-color: #848385;
}

.btn-warn {
  background-color: #EB6440;
  color: #d9bfd3;
  border: 1px solid #C84B31;
}

.btn-warn:hover {
  background-color: #c2a6a0;
  color: #dac8ae;
  border: 1px solid #c47f6e;
}

.form-control {
  background-color: #E8E5DA;
  color: #393a44;
}

.list-group-item {
  background-color: #e8e5da;
}

.lgi-table {
  background-color: #6a686b;
}

.lgi-interior {
  background-color: #e8e5da;
  color: #3a445d;
}

.lgi-table-interior {
  background-color: #74627500;
  color: #ffffff;
}

.minw100 {
  min-width: 100px;
}

.minw300 {
  min-width: 300px;
}

@media (min-width: 768px) {
  .side-bar {
    height: 100vh;
    padding-top: 1%;
  }
}